discord
discord.py
ChatterBot
PyYAML
aiohttp
async-timeout
certifi
chardet
chatterbot-corpus
future
idna
mathparse
multidict
nltk
oauthlib
pip
pymongo
python-dateutil
python-twitter
requests
requests-oauthlib
setuptools
six
urllib3
websockets
wikipedia
